@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

    --gray-color:#C4C4C4;
}

body{

    font-family: 'Poppins', sans-serif;
    background-color: var(--gray-color);
    
    
}


.wrapper{

    width: 100%;
    
}

img{

    max-width: 100%;
}

header{

    background: #212529;


}

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 14px;
    padding-top: 14px;
    padding-bottom: 15px;
    
    


}


.logo-section{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.25em;
    color: #FFFFFF;

}

.nav-block-section i{

    color: #FFFFFF;
    font-size: 30px;
}

.nav-aitem{
    
    display: flex;
    justify-content: space-between;
    position: absolute;
    background-color:#C4C4C4 ;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 1s 200ms ease;
   
}

.nav-aitem ul{

    padding-top: 50px;
    padding-left: 50px;
    list-style: none;


}

.nav-aitem a{

    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px;
    display: inline-block;
    color: #212529;
    transition: all 300ms ease-out;
    

}

.nav-aitem a:hover{

    scale: 1.1;
    
}


.nav-show{

    display: none;
}

#toggle:checked ~ .nav-icon .nav-hide{

    display: none;
    
}

#toggle:checked ~ .nav-icon .nav-show{

    display: inline;
    
}

#toggle:checked ~ .nav-icon label .nav-aitem{

    transform: scaleX(1); ;
    
    

    


}



.nav-show{

    color: #212529 !important;
    padding: 60px ;
    font-size: 3rem !important;
    
}

.nav-fast-block{

    display: none;


}

/* hero-section */


.hero-section{


    background-image: url(./image/banner\ 1.png);
    
    background-position: calc(100% - 29%);
    background-size: cover;

    text-align: center;
    color: #ffffff;
    padding-bottom: 500px;
    padding-top: 40px;
    
}


.hero-section h1{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;

}

.hero-section h1 span{

    font-size: 25px;
}



/* about block */
.about{


    background: #212529;
    
    padding-inline: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    

}

.about-box{

    display: flex;
    width: 100%;
    
    background-color:#C4C4C4;
    
    
    
}

.image-block-about{

    flex: 1 0 30%;
    width: 30%;
    


}

.contain-block-about{

    flex: 1 0 70%;
    width: 70%;
    padding: 12px;

}

.image-block-about img{

    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contain-block-about h1{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 10px;

}

.contain-block-about p{


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 15px;

}


.contain-block-about a{


    display: block;
    width: fit-content;
    text-decoration: none;
    padding: 10px 25px;
    background-color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: auto;

}


/* grid section */
.grid-in-photo-grally{


    background: #C4C4C4;
    padding-inline: 15px;
    margin-bottom: 20px;

}

.on-title{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    

    letter-spacing: 0.1em;
    margin-bottom: 40px;
    margin-top: 40px;

    color: #000000;

}

.grid-block{

    background: #212529;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(16 , 50px);
    
    gap: 20px;
    
}

.grid-item1{

    grid-row: 1 / 5;
    background-image: url(./image/grid/img20.jpg);
    background-repeat: no-repeat;
    background-size: cover;




    
}

.grid-item2{

    grid-row: -17 / -15 ;
    background-image: url(./image/grid/img19.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}
.grid-item3{

    background-image: url(./image/grid/img13.png);
    grid-row: 5 / 9;
    
    background-repeat: no-repeat;
    background-size: cover;


}
.grid-item4{

    background-image: url(./image/grid/img12.png);
    grid-row: -15 / -11 ;
 
    background-repeat: no-repeat;
    background-size: cover;


}
.grid-item5{

    background-image: url(./image/grid/img18.jpg);
    grid-row: 9 / 11;
    background-repeat: no-repeat;
    background-size: cover;


}
.grid-item6{

    background-image: url(./image/grid/img9.png);
    grid-row: -11 / -8;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.grid-item7{

    background-image: url(./image/grid/img2.png);
    grid-row: 11 / 13;

    background-repeat: no-repeat;
    background-size: cover;

}
.grid-item8{


    background-image: url(./image/grid/img11.png);

    grid-row: -8 / -4;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.grid-item9{

    background-image: url(./image/grid/img10.png);
    grid-row: 13 /17;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.grid-item10{


    background-image: url(./image/grid/img1.png);
    grid-row: -4 / -1;
    background-repeat: no-repeat;
    background-size: cover;


}


.see-more{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 0.1em;
    color: #000000;
    margin-top: 20px;

}

.see-more i{

    margin-left:10px;

}

/* rwll-section */

.reel-section{

    display: flex;
    flex-direction: column;
    padding-inline: 15px;
   padding-bottom: 20px;
    background: #212529;
}

.rell-title{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */
    margin-top: 40px;
    margin-bottom: 70px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #C4C4C4;


}


.rell-block{

    margin-bottom: 20px;
}

.rell-block img{


    width: 100%;


}

.rell-pic-item{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    background: #C4C4C4;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 20px;
    padding-bottom: 20px;

    color: #000000;




}

/* fotter-section */

.onlick{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-inline: 15px;
    letter-spacing: 0.1em;

    color: #000000;
}

.fotter-section{

    display: flex;
    flex-direction: column;
}



.foot-in{

    flex: 1 0 100%;
    width: 100%;
    padding-inline: 15px;
}


.h-title{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 51px;
    letter-spacing: 0.5em;
    margin-bottom: 20px;
    padding-top: 20px;

    color: #FFFFFF;


}

.p-title{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    letter-spacing: 0.14em;

    color: #FFFFFF;



}

.address{
    display: flex;
}

.left, .right li{

    list-style: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 30px;
/* or 167% */

letter-spacing: 0.1em;

color: #000000;

}


.left{

    flex: 1 0 20%;
}

.right{

    flex: 1 0 80%;
    padding-left: 20px;


}


.foot-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;


}

.foot-icon i{



    font-size: 2.2rem;
    padding-top: 20px;
    padding-bottom: 40px;
}

.foot-lasst{

    background: #212529;
    padding: 15px;
}

.foot-lasst p{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.15em;
    color: #C4C4C4;
}





/* responsive design */

@media (min-width: 576px) {

   
    .hero-section{


        background-image: url(./image/banner\ 1.png);
        
        background-position: calc(100% - 17%);
        background-size: cover;
    
        text-align: center;
        color: #ffffff;
        padding-bottom: 500px;
        padding-top: 40px;
        
    }
    
    
    .hero-section h1{
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.2em;
        color: #FFFFFF;

    
    }
    
    .hero-section h1 span{
    
        font-size: 25px;
    }


    .about{


        background: #212529;
        
        padding-inline: 15px;
        padding-top: 50px;
        padding-bottom: 50px;
        
    
    }
    
    .about-box{
    
        display: flex;
        width: 100%;
        
        background-color:#C4C4C4;
        
        
        
    }
    
    .image-block-about{
    
        flex: 1 0 30%;
        width: 30%;
        
    
    
    }
    
    .contain-block-about{
    
        flex: 1 0 70%;
        width: 70%;
        padding: 12px;
    
    }
    
    .image-block-about img{
    
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .contain-block-about h1{
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.1em;
        color: #000000;
        margin-top: 30px;
        margin-bottom: 10px;
    
    }
    
    .contain-block-about p{
    
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom: 20px;
    
    }
    
    
    .contain-block-about a{
    
    
        display: block;
        width: fit-content;
        text-decoration: none;
        padding: 10px 25px;
        background-color: #000000;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-left: auto;
    
    }
    
    
    /* grid section */
 
    
    
    
}





@media (min-width: 769px) {


    .wrapper{

        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar{

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 0px;
        padding-top: 14px;
        padding-bottom: 15px;
        
        
    
    
    }

    

    .navbar2{

        display: none;
    }
    
    
    .logo-section {
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.25em;
        color: #FFFFFF;
    
    }
    
    

    .full-nav-mini {

        display: none;
    }

    .nav-fast-block {

        display: inline;
    }


    .nav-fast-block ul {

        list-style: none;
        display: flex;
        gap: 15px;
    }

    .nav-fast-block ul li {

        padding: 5px 0px;
        position: relative;
    }

    .nav-fast-block ul li::before {

        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transform: scale(0);
        transition: all 500ms ease;
        transform-origin: left;
    }

    .nav-fast-block ul li:hover::before {

        transform: scale(1);

        
        
    }

    .nav-fast-block ul li a{

        text-decoration: none;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 700;
        padding: 10px 0;
        display: inline-block;
        transition: all 300ms ease-out;
        
    }


    .hero-section{


        background-image: url(./image/banner\ 1.png);
        
        padding: 0;margin: 0;

        background-size: cover;
    
        text-align: center;
        color: #ffffff;
      
        
    }
    
    
    .hero-section h1{
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 1.2;
        text-align: left;
        letter-spacing: 0.2em;
       
       padding-top: 200px;
       padding-bottom: 100px;
        color: #FFFFFF;
    
    }
    
    .hero-section h1 span{
    
        font-size: 34px;
    }
    
   
}


@media (min-width: 992px) {


    .wrapper{

        max-width: 950px;
    }

    .full-rell-contain{

        display: flex;
        gap: 20px;


    }

    .reel-section{

        padding-bottom: 50px;
    }

    .rell-title{

        font-size: 45px;
    }

    .foot-flex{

        display: flex;
    }

    .foot-in{

        flex: 1 0 50%;
        margin-bottom: 100px;
    }

    .fotter-section{

        padding-top: 0px;
        
    }

    .onlick{

        font-size: 3rem;
    }

    .navbar{

        display: none;
    }


    .nav-fast-block{

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-fast-block ul{

        display: flex;
        gap: 60px;
    }

    .logo-section{

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 63px;
     

        text-align: center;
        letter-spacing: 0.59em;

        color: #FFFFFF;
    }

    .navbar2{
        display: inline;
        padding: 20px 0;
    }

    /* gjdgwysdwiysdgwdgw */

    .about{


        background: #212529;
        
        padding-inline: 15px;
        padding-top: 150px;
        padding-bottom: 50px;
        
    
    }
    
    .about-box{
    
        display: flex;
        width: 100%;
        
        background-color:#C4C4C4;
        
        
        
    }
    
    .image-block-about{
    
        flex: 1 0 35%;
        width: 35%;
        
    
    
    }
    
    .contain-block-about{
    
        flex: 1 0 65%;
        width: 65%;
        padding: 12px;
    
    }
    
    .image-block-about img{
        
        margin-top: -100px;
        display: block;
        width: 100%;
        height:500px;
        object-fit: cover;
    }
    
    .contain-block-about h1{
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 30px;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom: 10px;
        text-align: center;
    
    }
    
    .contain-block-about p{
    
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.3;
        /* or 176% */

        letter-spacing: 0.1em;

        color: #000000;

    
    }
    
    
    .contain-block-about a{
    
    
        display: block;
        width: fit-content;
        text-decoration: none;
        padding: 10px 25px;
        background-color: #000000;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        margin-left: auto;
    
    }
    
    


   

}


@media (min-width: 1200px) {

    .wrapper{

        max-width: 1180px;
    }


    .hero-section{


        background-image: url(./image/banner\ 1.png);
        
        background-position: bottom;
        background-size: cover;
        height: 800px;
        text-align: center;
        color: #ffffff;
        padding-bottom: 0px;
        padding-top: 0px;
        
    }
    
    
    .hero-section h1{
    
        padding-top: 250px;
        font-size: 64px;
        padding-bottom: 0;
        
    
    }
    
    .hero-section h1 span{
    
        font-size: 45px;
    }

    .contain-block-about h1{
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 30px;
        letter-spacing: 0.1em;
        color: #000000;
        margin-bottom: 10px;
        text-align: center;
    
    }
    
    .contain-block-about p{
    
    
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 1.3;
        /* or 176% */

        letter-spacing: 0.1em;

        color: #000000;

    
    }

    .grid-in-photo-grally{
        position: relative;
        padding-top: 50px;
    }

    .on-title{
        position: absolute;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 30px;
        transform: rotate(-90deg);
        top: 500px;
        left: 0px;
        letter-spacing: 0.1em;
        margin-bottom: 0px;
        margin-top: 0px;
    
        color: #000000;
    
    }

    
    .logo-section{

        
 
        font-size: 34px;
        padding: 20px 0;
       
    }


    .rell-title{

        font-size: 150px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .foot-flex{

        display: flex;
        gap: 120px;
    }

    .p-title{
        font-size: 18px;
        
    }

    .grid-item1{

        grid-row: 1 / 5;
        background-image: url(./image/grid/img20.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    
    
    
        
    }
    
    .grid-item2{
    
        grid-row: -17 / -15 ;
        background-image: url(./image/grid/img19.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    background-position: top;    
    
    }
    .grid-item3{
    
        background-image: url(./image/grid/img13.png);
        grid-row: 5 / 9;
        
        background-repeat: no-repeat;
        background-size: cover;
    background-position:top;
    
    }
    .grid-item4{
    
        background-image: url(./image/grid/img12.png);
        grid-row: -15 / -11 ;
     
        background-repeat: no-repeat;
        background-size: cover;
    background-position: top;
    
    }
    .grid-item5{
    
        background-image: url(./image/grid/img18.jpg);
        grid-row: 9 / 11;
        background-repeat: no-repeat;
        background-size: cover;
    background-position: center;
    
    }
    .grid-item6{
    
        background-image: url(./image/grid/img9.png);
        grid-row: -11 / -8;
    
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    background-position: center;
    
    }
    .grid-item7{
    
        background-image: url(./image/grid/img2.png);
        grid-row: 11 / 13;
    
        background-repeat: no-repeat;
        background-size: cover;
    background-position: center;
    }
    .grid-item8{
    
    
        background-image: url(./image/grid/img11.png);
    
        grid-row: -8 / -4;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    background-position: center;
    
    }
    .grid-item9{
    
        background-image: url(./image/grid/img10.png);
        grid-row: 13 /17;
        height: 100%;
    
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    background-position: center;
    
    }
    .grid-item10{
    
    
        background-image: url(./image/grid/img1.png);
        grid-row: -4 / -1;
        background-repeat: no-repeat;
        background-size: cover;
    background-position: center;
    
    }

    

    

}





